@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter", sans-serif;
}

.x-scroller {
    overflow-x: scroll;
    overflow-y: hidden;
    /* height: 500px; */
    white-space: nowrap;
    scroll-behavior: smooth;
}

.width90 {
    width: 90vw;
}

/* put by-country page scrollbarx-x on top of countries list */
.flipped,
.flipped .content {
    transform: rotateX(180deg);
    -ms-transform: rotateX(180deg); /* IE 9 */
    -webkit-transform: rotateX(180deg); /* Safari and Chrome */
}

.hrLine::after {
    content: "";
    display: block;
    height: 1px;
    background-color: beige;
    width: 100%;
}

html {
    overflow-y: scroll;
}
