@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter", sans-serif;
}

.chartDiv {
    max-width: 359px;
    max-height: 209px;
    background-image: url("/images/caseCharts.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-bottom: 58.24%;
    /* (img-height / img-width * container-width) */
    /* (853 / 1280 * 100) */
}
