@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter", sans-serif;
}

.x-scroller {
    overflow-x: auto;
    overflow-y: auto;
    scroll-behavior: smooth;
    max-height: 534px;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.width90 {
    width: 90vw;
}

/* put by-country page scrollbarx-x on top of countries list */

.hrLine::after {
    content: "";
    display: block;
    height: 1px;
    background-color: beige;
    width: 100%;
}

html {
    scroll-behavior: smooth;
}

th.sticky-header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #f6f6f7;
    /*To not have transparent background.
  background-color: white;*/
}
